.doguito-image {
  width: 100%;
  max-width: 25rem;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
}

.notfound-text {
  font-size: var(--fonte-tamanho-naoencontrado-texto);
  margin-bottom: 1rem;
}

.notfound-link {
  color: var(--cor-primaria);
}